#wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

#view-wrap {
  text-align: left;
  padding-top: 15px;
}

#footer-wrap {
  font-size: 0.8rem;
}
