:root {
  --white: #ffffff;
}

*:not(body) {
  border-radius: 9px;
  font-weight: 400;
}

#text-box {
  display: flex;
  flex-direction: column;
  width: 623px;
  padding: 35px;
  background-color: var(--white);
}

#blockquote-id {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

#tweet-quotes {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

#new-quote {
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  padding: 8px;
  font-size: 17px;
}

.fa-brands {
  height: 100%;
  width: 100px;
}

body,
#new-quote {
  background-color: var(--white);
}
